@font-face {
    font-family: "ClashDisplay";
    src: url(./fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf);
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    

    /*margin: 20px - espacamento externo de 20px */

    margin: 0 auto;
}


.banner {
    /* vh é a porcentagem da altura da tela e vw a da largura */

    height: 100vh;

    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-position: 40% 95%;
}

header {
    height: 165px;
}

header button {
    display: none;
}

header img {
    width: 70px;
    

}

header .container-grid {
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {

    width: 100%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
    

}

.menu a {
    font-size: 18px;
    font-family: "ClashDisplay";

    color: rgb(0, 0, 0);

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}

.conteudo-banner {
    height: calc(108vh - 280px);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.conteudo-banner p {
    color: rgb(0, 0, 0);
    font-family: "Panchang";
    font-size: 50px;
    
}

#sobre {
    padding: 100px;
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 200px;
}

#sobre img{
    width: 500px;
    
}
h2 {
    text-align: center;
}

.conteudo-sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    
}

h2 {
    font-family: "ClashDisplay";
    font-size: 50px;

    width: 60%;

    padding-bottom: 30px;
    
    
}

#sobre p {
    justify-content: right;
   
    font-family: "Clashdisplay";
    font-size: 25px;
    
    height: 40%;
    width: 68%;

    font-weight: 500;


    text-align: center  ;

    line-height: 1.0;
}

#cases {
    display: flex;
    align-items: center;

    flex-direction: column;

    text-align: center;

    padding-bottom: 100px;
   
}


#cases h2 {

    margin-bottom: 100px;

    font-family: "ClashDisplay";
    font-size: 55px;

    color: #000000;
   
    padding-top: 70px;

    
}

#cases.container-grid{
   margin-top: 40px;


}
.container-cards {
    display: flex;

    align-items: center;

    width: 40px;

    width: 100%;

    text-align: center;
    border: 3px 
    
    
}

    header button {
        width: 50px;
        justify-content: flex-end;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        fill: #000000;
    }

    .card {
        height: 700px;
        width: 100%;


        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 20px;
        margin-bottom: 40px;


        outline: 2px solid #C0C0C0;

        
    }

    .card img{
        width: 330px;

        padding-top: 300px;
        
    }

    .card button {

        width: 40%;
        height: 40px;
    
        background-color: var(--laranja-gamifica);
    
        border: none;
        border-radius: 4px;
    
        color: #ffffff;
    
        font-family: "ClashDisplay";
        font-size: 20px;
        font-weight: 600;
    
        cursor: pointer;

        background-color: #C0C0C0;


        border-radius: 30px 30px 30px 30px;
        
       margin-bottom: 70px
        
    }

#avaliacao{
    display: flex;
    align-items: center;

    flex-direction: column;

    text-align: center;

    padding-bottom: 100px;

    height: 100vh;

    
}

#avaliacao hr{
background-color: #c0c0c0 ;
}

 .container-avaliacao {
     display: flex;

     justify-content: center;
     align-items: center;

     justify-content: space-evenly;
 
     width: 40px;
     width: 100%;
 
     text-align: center;
     
 }
     
 
     .comentario {
         height: 485px;
         width: 25%;
 
         display: flex;
         flex-direction: column;
         
         align-items: center;
 
         padding-bottom: 20px;
         margin-bottom: 75px;
         margin-top: 40px;
         
 
         background-color: #efefef;

         border-radius: 35px 35px 35px 35px;
         
     }

    
 
     .comentario img{
         width: 250px;
         padding-top: 60px;
         
     }
 
     .comentario p {
        display: flex;

        align-items: center;
 
         width: 85%;
         height: 100px;
     
     
         border: none;
         border-radius: 4px;
     
         color: #000000;
     
         font-family: "ClashDisplay";
         font-size: 17px;
         font-weight: 550;
     
         cursor: context-menu;
 
         background-color: #ffffff;

         margin-top: 25px;

         border-radius: 35px 35px 35px 35px;

        padding-left: 10px;
        padding-right: 10px;
         

     }

     #anuncio {
        display: flex;
        align-items: center;
    
        flex-direction: column;
    
        text-align: center;
    
        padding-bottom: 100px;
    
        height: 100%;
    
        
    }

    .contrato {
        display: flex;
        align-items: center;

        justify-content: space-between;

        width: 1200px;
        height: 650px;

        flex-direction: column;
        background-image: url(img/Group\ 56.png);
        background-position: 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

   

     .contrato button {

        width: 35%;
        height: 60px;
    
        border: none;
        border-radius: 4px;
    
        color: #000000;
    
        font-family: "ClashDisplay";
        font-size: 30px;
        font-weight: 600;
    
        cursor: pointer;

        background-color: #ffffff;


        border-radius: 30px 30px 30px 30px;
        
        margin-bottom: 70px
        
    }

    .contrato p{
        display: flex;

        align-items: center;    
        text-align: left;
        

        width: 65%;
        height: 100px;

        color: #000000;
     
         font-family: "ClashDisplay";
         font-size: 43px;
         font-weight: 550;
     
         cursor: context-menu;
 
         

         margin-top: 260px;

         border-radius: 35px 35px 35px 35px;
         
         padding-left: 30px;
        
    }

    .historia {
        display: flex;
        align-items: center;
        flex-direction: column;

        height: 140vh;
        width: 100%;

    background-image: url(img/fundohistoria.png);
    background-repeat: no-repeat;
    background-position: 70% 0%;
    background-size: 100%;
}

.historia h2{
    padding-top: 60px;
}



.historia p{
    display: flex;

        align-items: center;    
        text-align: left;
        

        width: 75%;
        height: 100px;

        color: #000000;
     
         font-family: "ClashDisplay";
         font-size: 40px;
         font-weight: 500;
     
         cursor: context-menu;

         padding-top: 370px;
}
    
.container-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 290px;

    background-color: #CA0542;

}

.container-footer {
    height: 100%;

    display: flex;
    justify-content: space-between;
    padding-left: 20px;

}

.container-footer p{
    color: #000000;

    font-family: "Clash Display";
    font-size: 40px;
    font-weight: 550;
    padding-top: 30px;
    
}

.redes-sociais {
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.redes-sociais p {
    color: #000000;

    font-family: "Clash Display";
    font-size: 25px;
    font-weight: 550;
    padding-top: 35px;

}


.icones-redes {
    width: 240px;

    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contato {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

}

#contato h2 {
    margin-bottom: 70px;
}


.campo {
    width: 65%;

    text-align: left;

    display: flex;
    flex-direction: column;


    margin-top: 10px;
    margin-bottom: 14px;
    

    font-family: "Mulish";
    font-size: 15px;
    color: #ffffff;


}


.campo-descricao {
    width: 65%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 10px;
    

    font-family: "Mulish";
    font-size: 15px;

    color: #ffffff;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #ffffff;

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;

    display: flex;
    border-radius: 10px 10px 10px 10px;
}


.campo-descricao textarea {
    color: white;
    background-color: #ffffff;

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;

    display: flex;
    border-radius: 10px 10px 10px 10px;
}

.campos{
    width: 95%;

    text-align: left;

    display: flex;
    flex-direction: column;

    align-items: flex-end;

    
}


.campo label,
.campo-descricao label {
    margin-bottom: 8px;

}

.campo input,
.campo-descricao textarea {
    font-family: "Mulish";
    font-size: 15px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #a0a0a0;
}


.campos button {
    height: 20px;
    width: 15%;

    background-color: #c0c0c0c0 ;
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 15px;
    font-family: "Mulish";
    

    cursor: pointer;

    transition: background-color 500ms; 
}

.campos button:hover {
    background-color: #c0c0c0;
    
}